body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-family: "Varela Round",
    sans-serif;
  margin-top: 10px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid #88898c;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid #88898c;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #88898c;
}

.past {
  background-color: #f2eddc;
  color: white;
}

.present {
  background-color: #f16a41;
  color: white;
}

.future {
  background-color: #69afbf;
  color: white;
}

.saveBtn {
  border: 1px solid #88898c;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #040a62;
  color: white;
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

/* Media query for tablets and smaller  */
/* This will be applied on any screen 768px and under  */
@media screen and (max-width: 768px),
  screen and (max-width: 575px) {
  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding-right: 17%;
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }

  textarea {
    min-height: 85px;
    border: 0;
  }
}
